.banner {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  background-image: linear-gradient(
      var(--dark-background-with-opacity),
      var(--dark-background-with-opacity)
    ),
    url(../images/banner_background_image.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--dark-background-with-opacity),
        var(--dark-background-with-opacity)
      ),
      url(../images/banner_background_image@2x.jpg);
  }

  background-position: center center;
  background-size: cover;

  max-width: 768px;
  height: 400px;

  @media screen and (min-width: 768px) {
    max-width: 1200px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }

  &__header {
    font-style: normal;
    font-weight: 900;
    color: var(--white-text-color);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    font-size: 26px;
    line-height: 42px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 60px;
    }
  }
}
