.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  &__logo-container {
    height: 92px;
    border: 1px solid var(--gray-icon-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--gray-icon-color);
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    width: calc((100vw - 60px) / 2);

    @media screen and (min-width: 480px) {
      width: 210px;
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: var(--highlight-color);
      fill: var(--highlight-color);
      cursor: pointer;
    }
  }
}
