.section {
  padding: 60px 0px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }

  &__haeder {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark-text-color);

    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 50px;
    }
  }
}
